@font-face {
font-family: 'Gilroy-Bold';
src:url('../lib/fonts/Gilroy/Gilroy-Bold.ttf');
}

@font-face {
font-family: 'Gilroy-Medium';
src:url('../lib/fonts/Gilroy/Gilroy-Medium.ttf');
}
@font-face {
font-family: 'Gilroy-Heavy';
src:url('../lib/fonts/Gilroy/Gilroy-Heavy.ttf');
}
@font-face {
font-family: 'Gilroy-Regular';
src:url('../lib/fonts/Gilroy/Gilroy-Regular.ttf');
}

@font-face {
font-family: 'Gilroy-Light';
src:url('../lib/fonts/Gilroy/Gilroy-Light.otf');
}
@font-face {
font-family: 'Poppins-Bold';
src:url('../lib/fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
font-family: 'Poppins-Medium';
src:url('../lib/fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
font-family: 'Poppins-Regular';
src:url('../lib/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
font-family: 'Poppins-SemiBold';
src:url('../lib/fonts/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
font-family: 'SF-Pro-Bold';
src:url('../lib/fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf');
}
@font-face {
font-family: 'SF-Pro-Medium';
src:url('../lib/fonts/SF-Pro-Display/SF-Pro-Display-Medium.otf');
}
@font-face {
font-family: 'SF-Pro-Regular';
src:url('../lib/fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf');
}
@font-face {
font-family: 'SF-Pro-Display-Heavy';
src:url('../lib/fonts/SF-Pro-Display/SF-Pro-Display-Heavy.otf');
}
@font-face {
font-family: 'SF-Pro-SemiboldItalic';
src:url('../lib/fonts/SF-Pro-Display/SF-Pro-Display-SemiboldItalic.otf');
}
@font-face {
font-family: 'SF-Pro-Display-Semibold';
src:url('../lib/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.otf');
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
}

a {
  color: #fff;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #1E2F4F;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}


.custom-container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}
li{
	list-style:none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.top-nav {
    background: #221B56;
	height:66px;
}
.top-nav ul{
	    display: flex;
    align-items: center;
    justify-content: flex-end;
	padding-left:0px;
	    height: 100%;
}
.top-nav ul li{
	display:flex;
	align-items:center;
}
.top-nav ul li span{
	display:block;
	font-size:12px;
	line-height:18px;
	font-family: 'Poppins-SemiBold';
	color:#fff;
}
.mr-70{
	margin-right:70px;
}
header#header {
    padding: 0rem;
    width: 100%;
    display: flex;
    align-items: center;
	padding-top:35px;
}
#header {
  padding: 30px 0;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
 /*  z-index: 997; */
}

#header.header-scrolled {
	position:fixed;
  background: #fff;
  padding: 20px 0;
  transition: all 0.5s;
  box-shadow: -1px 3px 45px rgba(0,0,0,0.15);
  z-index: 9;
}

#header #logo {
  float: left;
   margin-top: 0px;
}



#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #18d26e;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }
  #header #logo{
	  margin-top:0px;
  }
}
#header.header-scrolled .scrl-logo {
    display: block;
}


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
section#head-sect {
	position:relative;
	padding-top: 60px;

}
.header-bg{
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 80% 101%;
    height: 650px;
}

.header-text {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
	width: 100%;
	    z-index: 9;
}

.slider-text {
    max-width: 446px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.slider-text h2{
    font-size: 76px;
    line-height: 88px;
    color: #080940;
    font-family: 'Gilroy-Heavy';
    margin-bottom: 15px;
}


.slider-text p{
	font-size:24px;
	line-height:38px;
	color:#080940;
	font-family: 'SF-Pro-Regular';
	    margin-bottom: 40px;
}



.head-right-sect {
    position: relative;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 10px;
}


@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 8px 19px;
    text-decoration: none;
    display: inline-block;
    color: #080940;
    font-size: 12px;
	font-family: 'Poppins-SemiBold';
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #10AEDC;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}



.nav-menu ul li:hover > a {
  color: #18d26e;
}

.nav-menu ul ul {
  margin: 0;
}
a.contact-btn{
	background: #E54C57;
    color: #fff;
    border-radius: 9px;
	font-size:12px;
	text-transform:uppercase;
	font-family:'SF-Pro-Display-Semibold';
}
a.contact-btn:hover{
	color:#fff !important;
}
/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #000;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: #3B0BA7;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #18d26e;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #18d26e;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/*News*/
.news-right h3{
	font-size:38px;
	font-family:'Gilroy-Heavy';
	line-height:49px;
	color:#080940;
	margin-bottom:40px;
	max-width: 443px;
	margin-top: 60px;
}
p.txt-ln1 {
    font-size: 14px;
    line-height: 24px;
    color: #10AEDC;
    text-decoration: underline;
	font-family: 'SF-Pro-Bold';
	max-width: 370px;
	margin-bottom:40px;
}
p.txt-ln2 {
    font-size: 18px;
    line-height: 24px;
    color: #FF014E;
	font-family: 'SF-Pro-Display-Heavy';
	margin-bottom:15px;
}
p.txt-ln3 {
    font-size: 14px;
    line-height: 24px;
    color: #080940;
	font-family: 'SF-Pro-Regular';
	margin-bottom:15px;
	max-width:430px;
}
.right-top-img {
    text-align: center;
    position: absolute;
    top: -33%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    margin-right: 54px;
}
.news-left {
    text-align: center;
}
/*end*/
/*products*/
section#products {
    padding-top: 40px;
	    margin-top: 76px;
}
.products-lft {
    max-width: 400px;
}
.products-lft h3{
	    font-size: 38px;
    line-height: 49px;
    color: #020202;
	font-family:'Gilroy-Heavy';
}
p.prd-ln1 {
    font-size: 20px;
    line-height: 33px;
    color: #020202;
	font-family:'Gilroy-Heavy';
}
p.prd-ln2 {
    font-size: 14px;
    line-height: 24px;
    color: #020202;
	font-family:'SF-Pro-Regular';
	    max-width: 375px;
}
.products-right {
    padding-left: 119px;
    background: url(../images/prod-bg.png) no-repeat;
    background-size: auto;
    background-position: 14% 10%;
    padding-top: 62px;
}
.medical {

	position:relative;
}
.medical h3{
	    font-size: 13px;
    line-height: 19px;
    color: #080940;
	font-family: 'SF-Pro-Display-Heavy';
	margin-top:10px;
	margin-bottom:16px;
	margin-left: 15px;
}
.medical p{
	font-size: 12px;
    line-height: 14px;
    color: #080940;
	font-family: 'SF-Pro-Medium';
	opacity:.7;
	margin-bottom:0;
	max-width: 159px;
    margin-left: 15px;
}
.card1{
    max-width: 248px;
	border-radius:35px;
	background:#FFF7E4;
	padding:25px 30px;	
}.md-no1 {
    position: absolute;
    top: 0;
    left: -48px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: #FFB400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}
.md-circle {
    position: absolute;
    top: 58px;
    right: -42px;
}
.card2{
    max-width: 248px;
	border-radius:35px;
	background:#E6F9FF;
	padding:25px 30px;	
	margin-top: 26px;
    margin-left: 36px;
}
.md-no2 {
    position: absolute;
    top: 0;
    left: -48px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: #10AEDC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}
.md-circle1 {
    position: absolute;
    top: 120px;
    right: -42px;
}
.card3{
    max-width: 248px;
	border-radius:35px;
	background:#FEE7F3;
	padding:25px 30px;	
	margin-top: 26px;
    margin-left: 36px;
	position: absolute;
    right: 0;
    top: 150px;
}
.md-no3 {
    position: absolute;
    top: 0;
    left: -48px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background:#E54C57;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}
.md-circle2 {
    position: absolute;
	bottom: 22px;
    right: -54px;
}
/*end*/
/*About*/
section#about {
    padding-bottom: 4rem;
}
.head-sect {
text-align: center;
    max-width: 820px;
    margin: 0 auto;
}
.head-sect h3{
	font-size:38px;
	line-height:49px;
	font-family:'Gilroy-Heavy';
	color:#080940;
}
.head-sect p{
	font-size:16px;
	line-height:24px;
	font-family:'SF-Pro-Regular';
	color:#080940;
	opacity:.8;
}
.head-sect span{
	font-family:'SF-Pro-Bold';
	font-weight: 700;
}
.side-pattern{
	position: absolute;
    top: 0;
    right: 0px;
}
.block{
	text-align: left;
    position: relative;
    border-radius: 40px;
    max-width: 356px;
	height: 305px;
	padding: 50px 38px;
}
.block:hover{
	background-color:rgba(218,214,238,.2);
	border-radius: 40px;
}



.top-img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    /* margin: 0 auto; */
    background: rgba(71,77,255,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
	position:relative;
}
.top-img span{
	    position: absolute;
    left: 3px;
    top: 9px;
}
.top-img img{
	margin:0 auto;
}

.block h2{
    font-size: 16px;
    margin-top: 25px;
    color: #080940;
	font-family:"Poppins-Bold";
	margin-bottom:16px;
}


.block:hover{
	transition: all 0.5s;
}


.block p{
    font-size: 14px;
	line-height:20px;
    color: #080940;
	font-family:'SF-Pro-Regular';
	margin-bottom:0px;
	opacity:.5;
}


/*---contact us---*/
.pattrn-img1 {
    position: absolute;
    top: -57px;
    right: 6%;
}
.pattrn-img2 {
    position: absolute;
}
section#contact-us {
    background: #221B56;
    padding-top: 5rem;
    padding-bottom: 5rem;
	position:relative;
}
.contact-us-left {
    max-width: 400px;
}
.contact-us-left h3{
	font-size:38px;
	line-height:49px;
	font-family:'Gilroy-Heavy';
	color:#fff;
}
.contact-us-left p{
	font-size:14px;
	line-height:24px;
	font-family:'SF-Pro-Regular';
	color:#fff;
	opacity:0.8;
}
.contact-us-left ul{

	padding-left:0px;
	    height: 100%;
}
.contact-us-left ul li{
	display:flex;
	align-items:flex-start;
}
.contact-us-left ul li span{
	display:block;
	font-size:12px;
	line-height:18px;
	font-family: 'Poppins-SemiBold';
	color:#fff;
}
.contact-right {
    max-width: 480px;
}
.contact-right h3{
	font-size:24px;
	font-family:'Gilroy-Bold';
	color:#fff;
	margin-top:54px;
	margin-bottom:25px;
}
.contact-right p{
	font-size:14px;
	line-height:25px;
	font-family:'SF-Pro-Regular';
	color:#fff;
}
/*End*/
/*FAQ*/
section#faq{
	padding-top:5rem;
	padding-bottom:5rem;
}
.faq-ask h3{
	font-size: 38px;
    line-height: 49px;
    text-align: center;
    color: #080940;
	font-family:'Gilroy-Heavy';
	margin-bottom:44px;
}
.fag-block h3{
	font-size:16px;
	line-height:20px;
	color:#080940;
	opacity:0.8;
	font-family:'Poppins-Bold';
	max-width: 236px;
}
.fag-block p{
	font-size:14px;
	line-height:25px;
	color:#080940;
	opacity:0.5;
	font-family:'SF-Pro-Regular';
	max-width: 445px;
	margin-bottom:0px;
}
.fag-block{
	padding:32px 45px;
}
.fag-block:hover{
	background:rgba(49,54,201,.04);
	border-radius:18px;
	max-width:538px;
	padding:32px 45px;
	
}
/*end*/
/*Testimonial*/
section#testimonial {
    padding-top: 3rem;
    padding-bottom: 8rem;
}
.cust-testmnl {
    display: flex;
    justify-content: space-between;
    padding-left: 20rem;
    padding-right: 3rem;
}
.testimonial-left {
    max-width: 300px;
}
.testimonial-left h3{
	    font-size: 38px;
    line-height: 49px;
    color: #080940;
	font-family:'Gilroy-Heavy';
}
.testi-block {
    max-width: 372px;
    box-shadow: 10px 0px 50px rgba(0,0,0,.06);
	-webkit-box-shadow: 10px 0px 50px rgba(0,0,0,.06);
	-moz-box-shadow: 10px 0px 50px rgba(0,0,0,.06);
    padding: 35px;
    border-radius: 40px;
	    margin-left: 46px;

}
.testi-block .stars{
	display:flex;
}
.testi-block .stars span{
	margin-right:3px;
}
p.testi-txt {
    font-size: 13px;
    line-height: 20px;
    color: #020202;
	font-family: 'SF-Pro-SemiboldItalic';
	margin-top:16px;
	margin-bottom:20px;
}
p.author {
    font-size: 13px;
    color: #020202;
	font-family:'Poppins-Bold';
	padding-bottom:0px;
}
.testimonial-right{
	display:flex;
	flex-wrap:wrap;
}
/* .testimonials-carousel .owl-carousel .owl-item img{
	width:auto;
} */
/*end*/
/*footer*/
footer {
    padding: 5rem 0rem;
	background:#080940;
}
p.footer-txt {
    margin-top: 1.5rem;
}
.col-md-3.f-info {
	padding-left: 2rem;
}


.footer-sect {
    display: flex;
    width: 100%;
    align-items: center;
	    margin-top: 5rem;
}
.footer-sect span{
	    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #E6E9F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-sect span:hover{
	background:#6F3DE2;
}
.footer-sect span .fa{
	    color: #E6E9F5;
    font-size: 15px;
}
.footer-sect span:hover .fa{
	color:#fff;
}
.footer-txt span:nth-child(1){
	font-size:15px;
	font-family:Gilroy-Medium;
	color:#31384E;
	opacity:.6;
	display:block;
	    margin-bottom: .5rem;
}
.f-info p{
	    margin-bottom: 3px;
}
.footer-txt span:nth-child(2){
	font-size:16px;
	font-family:Gilroy-Medium;
	color:#31384E;
	opacity:.6;
}
.f-info ul{
	padding-left:0px;
	margin-bottom:0px;
}
.f-info ul li{
	list-style:none;
	margin-bottom:24px;
}
.f-info ul li a{
	font-size:13px;
	color:#fff;
	font-family:'SF-Pro-Regular';
}
.f-info h2{
	font-size:16px;
	color:#fff;
	font-family:'SF-Pro-Medium';
	text-transform:uppercase;
	margin-bottom: 50px;
}
.f-info .foo-addrss li{
	margin-bottom:24px;
	line-height:20px;
	font-size:13px;
	color:#fff;
	font-family:'SF-Pro-Regular';
	line-height:20px;
}
.f-info .foo-addrss li span{
	display:block;
}
@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
.modal-backdrop {
    z-index: 1040 !important;
}
.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;
}
.cust-modal .modal-dialog{
	margin-top: 6rem;
}
